.profile-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 1rem;
    padding: 1rem;
    width: 220px;

    background: lightgray;
    border-radius: 10px;
    box-shadow: 0 6px 12px hsla(0, 0%, 0%, 0.12);
    transition: all 0.3s ease;
}

.profile-card:hover {
    box-shadow: 0px 12px 24px hsla(0, 0%, 0%, 2);
    transform: translateY(-5px);
}

.avatar {
    display: block;
    margin: 0 auto;
    width: 150px;

    border-radius: 50%;

    box-shadow: 0 10px 18px hsla(0, 0%, 0%, 0.12);
}

.name {
    font-weight: bold;
    color: #333;
}

.description {
    color: gray;
}