
body {
    font-family: Arial;
    color: #EAE7FD;
}

main {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 60vw;
    min-width: 30vw;
    max-width: 50vw;
    height: 90vh;
    background-color: #2C14DD;
    border-radius: 16px;
    padding: 20px;
}

.top {
    display: flex;
    justify-content: space-between;
}

.top-txt {
    font-size: 0.7rem;
}

.skip-btn {
    background-color: #432DEC;
    height: 25%;
    border-radius: 12px;
    border: none;
    font-size: 0.6rem;
}

.conteiner {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card {
    display: flex;
    justify-content: space-between;
    background-color: #432DEC;
    border-radius: 16px;
    padding: 5px;
}
.card-txt {
    font-size: 0.4rem;
}

.icon {
    width: 50px;
}