* {
    box-sizing: border-box;
    text-align: center;
}

.card {
    background-color: lightblue;
    border-radius: 20px;
    margin: 100px;
    padding: 50px;
    width: min-content;
}

.card-elements {
    padding: 2em;
    background-color: rgb(119, 187, 247);
    border-radius: 1em;
}

img {
    border-radius: 50%;
}

.card-name {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3em;
    color: blue;
}

.card-title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
    color: rgb(0, 0, 100);
}

.card-desc {
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 80%;
    color: rgb(100, 0, 100);
}

.contact {
    margin-top: 30px;
    padding: 5%;
    border-radius: 0.5em;
    background-color: rgb(162, 159, 159);
}

.contact a {
    margin: 10px;
}

.contact img{
    width: 20%;
}